html,body,h1,h2,h3,h4,h5,p,ul,li,img{
	padding: 0;
	margin: 0;
}
body,html{
	min-height: 100%;
}
body{
	background-color: #fff;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #000;
}
.table img{
	width: 100px;
	height: 50px;
}
.pad20{
	padding: 20px;
}
img{
	border: none;
}
a:hover{
	text-decoration: none;
}
ul,ul>li{
	list-style: none;
}
.color-d84a38{
	color: #d84a38;
}
.color-35aa47{
	color: #35aa47;
}
.color-e35452{
	color: #e35452;
}
.color-fcc07c{
	color: #fba62f;
}
.color-0a8cca{
	color: #0a8cca;
}
.bgcolor-d5e2eb{
	background: #d5e2eb;
}
.l_float{
	float: left;
}
.r_float{
	float: right;
}
.clearfix:after,
.clearfix:before{ 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}



/*nav sta*/
#left{
	width: 270px;
	min-height: 100%;
	position: absolute;
	background: #3d4548;
}
.logo{
	height: 70px;
	background: #000;
	padding: 1px;
}
.logo h1{
	width: 240px;
	font-size: 0;
	margin: 15px auto;
}
.logo img{
	width: 100%;
}
.time{
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	font-size: 22px;
	color: #f7b104;
}
.time div{
	width: 200px;
	margin: 17px auto 0 auto;
}
.time span{
	display: inline-block;
	padding: 0 6px;
	border: 2px solid #f7b104;
	border-radius: 4px;
}
.time span+span{
	margin-left: 3px;
}
.pc_nav{
	min-height: 100%;
}
.pc_nav_box{
	width: 240px;
	min-height: 600px;
	padding-top: 16px;
	float: right;
	background: #2d3235;
	position: relative;
    padding-bottom: 66px;
}
.pc_nav_box .exit{
	display: block;
    width: 67px;
    position: absolute;
    bottom: 30px;
    left: 76px;
}
.pc_nav_box .exit img{
	display: block;
	margin: 5px auto;
}
.pc_nav_box > ul{
	padding-bottom: 120px;
}
.pc_nav_box a.act{
	color: #000;
}
.pc_nav_box > ul >li{
	margin: 5px 0 5px -15px;
	padding: 5px 0;
	position: relative;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pc_nav_box span{
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 17px;
	left: 64px;
	background-image: url(../image/ico.png);
	background-repeat: no-repeat;
}
.ico1{
	background-position: -1px 0px;
}
.ico2{
	background-position: -1px -24px;
}
.ico3{
	background-position: -1px -46px;
}
.ico4{
	background-position: -1px -67px;
}
.ico5{
	background-position: -1px -90px;
}
.ico6{
	background-position: -1px -114px;
}
.ico7{
	background-position: -1px -137px;
}
.bg_color span{
	background-position-x: -25px;
}
.pc_nav_box > ul >li ul{
	display: none;
}
.pc_nav_box > ul >li.bg_color ul{
	display: block;
}
.pc_nav_box a:hover{
	text-decoration: none;
}
.pc_nav_box > ul >li:hover{
	background: #fff;
}
.pc_nav_box > ul >li:hover span{
	background-position-x: -25px;
}
.pc_nav_box > ul >li.bg_color{
	background: #fff;
}
.pc_nav_box > ul >li.bg_color a{
	color: #000;
}
.pc_nav_box a{
	display: block;
	width: 255px;
    padding: 10px 0;
    margin: 4px 0;
	text-align: center;
	color: #fff;
}
.pc_nav_box > ul >li > ul >li >a{
	display: block;
    width: 233px;
    text-align: center;
    position: relative;
    right: -13px;
}
.pc_nav_box > ul >li.bg_color a.fous{
	background: #2d3235;
	color: #fff;
}
.pc_nav_box > ul >li > ul >li >a:hover{
	background: #2d3235;
	color: #fff;
}
.pc_nav_box > ul >li:hover >a{
	color: #2E3336;
	text-decoration: none;
}
/*nav end*/
/*-----------------------------*/
/*conte sta*/
#right{
	margin-left: 270px;
	background: #fff;
}
.list li{
	line-height: 1.5;
}
.moblie_but{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;

}
.moblie_nav{
	position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}
.moblie_nav_top{
	padding: 10px 0;
	border: 1px solid #e5e4e4;
}
.nav_close{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
}
.moblie_nav > ul{
	overflow: scroll;
}
.moblie_nav a{
	display: block;
	height: 100%;
	padding: 10px 0;
}
.moblie_nav li.bg_color > a{
	color: #000;
}
.moblie_nav .act{
	color: red;
}
.moblie_nav > ul{
	padding: 20px 0 0 30px;
}
.moblie_nav a{
	color: #5F666A;
}
.top{
	height: 70px;
	background: #ecf0f1;
    padding: 16px 20px;
}
.main{
	min-height: 500px;
	box-sizing: border-box;
	padding: 45px 66px;
	position: relative;
}
.index_cont > div+div{
	margin-top: 20px;
}
.my_team ul{
	margin-bottom: 20px;
}
.my_team ul li{
	float: left;
	margin-right: 30px;
}
.sche_box{
	border: 1px solid #e5e4e4;
	box-sizing: border-box;
	padding: 16px;
}
.sche{
	padding: 0 65px;
	position: relative;
}
.sche .sr-only {
    width: auto;
    height: 100%;
    margin: 0;
    overflow: auto;
    clip: auto;
    left: 0;
    color: #000;
}
.sche .pos_right{
	position: absolute;
	right: 0;
	color: #000;
}
.num{
	font-size: 18px;
}
.index_zh{
	padding: 15px 0;
	background-color: #ffc02e;
	color: #fff;
}
.but_box p{
	height: 50%;
}
.but_box a{
	display: block;
	width: 50%;
	padding: 3px 0;
	background: #fff;
	color: #ffc02e;
	text-align: center;
}
.but_box a:last-child{
	margin-bottom: 4px;
}
.las_box{
	
}
.las_box .text_box{
	background: #e9e9e9;
	padding: 20px 0;
}
.left_15{
	margin-left: -15px;
}
.right_15{
	margin-right: -15px;
}
.las_box p{
	padding: 5px 0;
}
.lookxq{
	padding: 10px 0;
}
.lookxq a{
	display: block;
	width: 60%;
	padding: 5px;
	background: #ffb600;
	color: #fff;
	margin: 0 auto;
	font-weight: 700;
	font-size: 14px;
}
/*conte end*/
@media (max-width: 992px) {
	#right {
		margin-left: 0;
	}
}
@media (max-width: 768px) {
	.main{
		padding-left: 10px;
		padding-right: 10px;
	}
	.bzs{
		margin: 0 auto;
	}
	.sche_box p.borright,
	.sche_box li.bortop{
		border: none;
	}
	#right {
	  	margin: 0;
	}
	.las_box .text_box{
		margin: 0 0 20px;
	}
}

.gonggao{
	position: fixed;
	width: 100%;
	height: 100%;
    background: rgba(0,0,0,.8);
	z-index: 999;
	/*font-family: "微软雅黑";*/
}
.gg_auto{
	width: 100%;
	max-width: 700px;
	height: 80%;
	margin: 5% auto;
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 50px;
	position: relative;
}
.gg_title{
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin: -50px -50px 0 -50px;
}
.gg_title p{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
.gg_body{
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}
.gg_body p{
	text-indent: 2em;
	padding: 5px;
}
.gg_body h2{
	padding: 10px 0;
	text-align: center;
}
.gg_time{
	text-align: right;
	padding: 10px 0;
    color: #737373;
}
.gb_but{
	text-align: right;
}
/*推荐清单*/
.bzs{
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	text-align: center;
	border: 4px solid #e3e8ee;
	border-radius: 75px;
	position: relative;
}
.bzs_num{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.bzs_num_box{
	width: 150px;
	height: 150px;
	border: 4px solid #e64b48;
	border-top-color: #e3e8ee;
	border-radius: 75%;
	position: absolute;
	top: -4px;
	left: -4px;
	transform: rotate(-45deg);
}
.bzs_num p{
	padding: 3px 0;
}
.bzs_num p strong{
	font-size: 18px;
}
.xqlan li+li{
	height: 75px;
}
.xqlan li+li p{
	height: 60px;
	line-height: 60px;
}
.xqlan .bortop{
	border-top: 1px solid #e2e2e1;
}
.xqlan .borright{
	border-right: 1px solid #e2e2e1;
}
.xqlan .martop{
	margin-top: 16px;
}
.xqlan li a{
    display: block;
    width: 116px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 30px auto;
    background: #e5e4e4;
    color: #000;
    font-weight: 700;
}


/*修改资料*/
.wxts{
	background: #f2dede;
	padding: 5px 10px;
	color: #d75a5a;
}
.xgzl{
	padding-top: 100px;
}
.xgzl > li{
	margin-bottom: 100px;
}
.xgzl .xgnr{
	/*height: 300px;*/
	border: 2px solid #000;
}
.xgnr{
	padding: 0 20px;
}
.xgnr > div{
	margin-bottom: 20px;
}
.xgnr div{
	margin: 0 auto 10px auto;
	text-align: center;
}
.xgnr > div:first-child{
	width: 100px;
	height: 100px;
    margin-top: -50px;
	border: 2px solid #000000;
	border-radius: 50px;
	background-color: #fff;
	background-image: url(../image/head_img.png);
	background-repeat: no-repeat;
    background-size: 80px;
}
.head_icon_1{
    background-position: 8px 7px;
}
.head_icon_2{
    background-position: 8px -89px
}
.head_icon_3{
    background-position: 8px -175px;
}
.xgzl_title{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #cecfcf;
}
.xgnr input{
	border: none;
	border-bottom: 1px solid #cecfcf;
}
.xgtj input{
	
}
.xgzl div.border-2d80de,
.xgzl .border-2d80de{
	border-color: #2d80de;
}
.xgzl div.border-2aa960,
.xgzl .border-2aa960{
	border-color: #2aa960;
}
.xgzl div.border-ff0000,
.xgzl .border-ff0000{
	border-color: #ff0000;
}
.head_icon{
	
}
/*修改密码*/
.dlmm{
	max-width: 500px;
	margin: 0 auto;
    padding: 40px 0;
}
.dlmm .but-box{
	margin-top: 36px
}
.borcent{
	width: 91%;
    border: 1px solid #e2e2e1;
    margin: 8px 0 8px 12px;
}
.wxts2{
	margin: 20px 0 40px;
}
.wxts2 p{
	/*float: left;*/
	color: #ffb601;
}
.wxts2 h2{
    line-height: 22px;
	clear: both;
	font-size: 14px;
	text-indent: 1.4em;
}
.width-100{
	width: 100%;
	background: #2d3235;
	border: none;
	padding: 8px 0;
	color: #fff;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 700;
}
/*新建账户*/
.xjzh{
	max-width: 900px;
	margin: 0 auto;
}
.xjzh .but-box{
	width: 250px;
    margin: 50px auto;
}
.selct{
	padding: 10px 0;
}
.index_fy{
	text-align: center;
}
.index_fy li a{
	color: #000;
}
.guatitle span{
	color: #ff0000;
}
.ksxz li{
	float: left;
}
.ksxz li a{
	display: block;
	width: 86px;
    height: 35px;
	color: #000;
	margin-right: 10px;
    line-height: 35px;
    border: 1px solid #d8d9d9;
    background: #f2f2f2;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.bz_box{
	margin-top: 30px;
}
.ksxz li .border_jin{
	border: 1px solid #ffb600;
}
.border_jin span{
	display: block;
    width: 12px;
    height: 12px;
    background: #ffb600;
    position: absolute;
    bottom: -6px;
    right: -6px;
    transform: rotate(45deg);
}
.btred span{
	color: red;
}
.btred p{
	margin-top: 1px;
	text-indent: 1em;
	padding: 2px 0;
	border-color: rgb(238, 211, 215);
	color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
}
.wxts2 p.zhuyi{
	padding: 2px 20px;
	border-color: rgb(238, 211, 215);
	color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
}


/*商品*/
.sp{
	border: 1px solid #d3dbde;
	padding-bottom: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.spimg{
	height: 160px;
}
.spimg img{
	width: 100%;
	height: 100%;
}
.sp li{
	width: 160px;
	margin: 10px auto 0 auto;
}
.sp li:last-child{
	width: auto;
}
.gwcbox{
	border: 1px solid #c4e3f3;
	position: relative;
}
.gwcimg{
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.gwcimg img{
	width: 100%;
	height: 100%;
}
.gwcbox>div{
	margin: 30px 0;
}
.gwcxq div{
	float: left;
}
.gwcxq div+div{
	margin-left: 20px;
}
.xqzl li+li{
	margin-top: 10px;
}
.xqimg-box{
	width: 300px;
	overflow: hidden;
}
.xqimg-box img{
	width: 100%;
}
.gwcnum{
	display: inline-block;
    text-align: center;
}
.gwcnum a{
	display: inline-block;
	width: 22px;
	height: auto;
	border: 1px solid #c4e3f3;
}
.gwcnum input{
	height: 22px;
    width: 30px;
    text-align: center;
	border: 1px solid #c4e3f3;
}
.gwccz li+li{
	margin-top: 10px;
}
/*图谱*/
.sousuo{
	padding: 10px 0;
}
.sousuo .input-group-addon {
    background-color: transparent;
    border: 1px solid transparent;
}
.tree_box{
	padding: 20px;
}
.biaot li{
	float: left;
}
.bg-f0{
	background: #f0f0f0;;
}
.gwcbox>.close{
    border: 1px solid #337ab7;
    width: 24px;
    height: 24px;
    line-height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.ppcont{
	background: #e9e9e9;
	border: 1px solid #E3C9C9;
	text-align: center;
	padding: 10px 0;
}
.ppcont .name{
	height: 20px;
	width: 60px;
}
.ppbut{
    height: 20px;
    line-height: 6px;
}
.ppcont>div{
	min-height: 80px;
	position: relative;
}
.ppcont div+div{
	border-left: 1px solid #D3D3D3;
}
.juzh{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.juzh p+p{
	margin-top: 10px;
}
.title-box{
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}
.title-box>p:first-child{
	float: left;
	padding: 10px 70px;
	background: #FFB601;
}
.title-box>p:last-child{
    float: left;
    width: 59px;
    height: 40px;
    top: -14px;
    left: -35px;
    background: #fff;
    position: relative;
    transform: rotate(45deg);
}
.con-box .panel-footer {
    border-top: 2px solid #FFB601;
    padding-top: 30px;
}

.new_view{
	padding: 30px;
}
.new_view h2{
	padding: 10px 0;
}
.view-con{
	margin-top: 20px;
}
.view-con p{
	text-indent: 2em;
	font-size: 16px;
	/*padding: 5px 0;*/
	line-height: 1.5;
}
